@import "../../variables/colors";
@import "../../variables/screenSizes";

.imageContainer {
    position: relative;
    margin-top: 1rem;

    .image {
        width: 100%;
        // height: 22.5rem;
        object-fit: contain;
        object-position: center;
    }
}